form.todo-create > textarea, input{
    border-radius: 10px;
    padding: 0.2em 0.5em;
}

form.todo-create > textarea{
    min-height: 2em;
}

td.done-cell {
    text-align: center;
}

input[type="checkbox"]{
    /*font-size: 2em;*/
    width: 1.5em;
    height: 1.5em;
}

input[type="radio"]{
    width: 1.5em;
    height: 1.5em;
}
